.text-field {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  
  padding: 5px;
  width: 250px;
  
  border: 1px solid lightgrey;
}

.text-field:focus::-webkit-input-placeholder {color: lightgray;}
.text-field:focus::-moz-placeholder          {color: lightgray;}
.text-field:focus:-moz-placeholder           {color: lightgray;}
.text-field:focus:-ms-input-placeholder      {color: lightgray;}

.wrapper {
  position: relative;
}

.variants-container {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  
  position: absolute;
  top: 35px;
  left: 0px;
  
  display: none;
  width: 375px;
  
  border: 1px solid lightgrey;
  box-shadow: 0 0 20px -6px rgba(0,0,0,0.5);
}

.variants-container--visible {
  display: block;
}
