.text-field {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  
  padding: 5px;
  width: 250px;
  
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

.text-field:focus {
  outline: dodgerblue solid 2px;
}

.text-field--error {
  outline: red solid 2px;
  outline-offset: -2px;
}

.text-field:focus::-webkit-input-placeholder {color: lightgray;}
.text-field:focus::-moz-placeholder          {color: lightgray;}
.text-field:focus:-moz-placeholder           {color: lightgray;}
.text-field:focus:-ms-input-placeholder      {color: lightgray;}

.wrapper {
  position: relative;
}

.variants-container {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  
  position: absolute;
  top: 35px;
  left: 0px;
  
  display: none;
  width: 375px;
  
  border: 1px solid lightgrey;
  box-shadow: 0 0 20px -6px rgba(0,0,0,0.5);
}

.variants-container--visible {
  display: block;
}

.variants-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.variants-list__item {
  padding: 5px;
}

.variants-list__item--selected {
  color: white;
  
  background-color: dodgerblue;
  cursor: pointer;
}

.message {
  color: lightgray;
  font-size: 12px;
  
  padding: 5px;
}

.message--not-found {
  color: lightgray;
  
  padding: 5px;
}

.message--server-error {
  color: lightgray;
  
  padding: 5px;
}

.error {
  display: none;
  padding: 5px;
  
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.error--visible {
  display: block;
}

.btn--refresh-btn {
  color: lightgray;
  padding: 5px;
}

.btn--refresh-btn:hover {
  color: white;
  
  background-color: dodgerblue;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.loader {
/*  position: absolute;*/
  display: inline-block;
  top: 40px;
  
  width: 20px;
  height: 20px;
  
  vertical-align: middle;
  
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-wrapper {
  display: none;
  padding: 5px;
  
  color: lightgray;
}

.loader-wrapper--visible {
  display: block;
}

.loader-wrapper span {
  vertical-align: middle;
}
